* {
    box-sizing: border-box;
}

/* ---------- ÉLÉMENTS PRINCIPAUX DE LA PAGE ---------- */

html {
    width: 100%;
}

#bloc_page {
    display: flex;
    flex-direction: column;
}

body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* ---------- HEADER ---------- */

/* DESKTOP - HEADER - NAVBAR */

.navbar {
    height: 90px;
    margin: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3em;
}

/* Logo Booki */

.navbar_logo {
    width: 75px;
    padding-left: 10px;
}

/* Menu de navigation */

.navbar ul {
    display: flex;
    padding-left: 0;
}

.navbar li {
    list-style-type: none;
}

.nav_link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 29px;
}

.nav_link:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
    padding-top: 34px;
    margin-top: 0;
}

/* RESPONSIVE MOBILE - HEADER - NAVBAR */

@media screen and (max-width: 768px) {

    /* Navbar et logo Booki */

    .navbar {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 0 30px 0;
        flex-shrink: 0;
    }

    .navbar_logo {
        padding-left: 0px;
    }

    /* Menu de navigation */

    .navbar_nav {
        display: flex;
        width: 100%;
        margin-top: 30px;
    }

    .navbar nav ul {
        width: auto;
        flex: 1 1;
        margin: 0;
    }

    .navbar li {
        width: 50%;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        border-bottom: solid 3px #f2f2f2;
    }

    .nav_link {
        padding: 0;
    }

    /* Effets au survol sur le menu */

    .navbar li:hover {
        border-bottom: solid 3px #0065FC;
    }

    .nav_link:hover {
        border-top: none;
        padding: 0;
    }
}


/* DESKTOP - HEADER - SLOGAN */

.slogan_search {
    width: 100%;
}

.slogan {
    font-size: 1.8em;
    margin-left: 50px;
}

.subtitle {
    font-size: 1.3em;
    margin-left: 50px;
    line-height: 0.4;
}

/* RESPONSIVE MOBILE - HEADER - SLOGAN */

@media screen and (max-width: 768px) {

    .slogan {
        margin-left: 20px;
    }

    .subtitle {
        margin-left: 20px;
    }
}

/* DESKTOP - HEADER - FORMULAIRE DE RECHERCHE */

.form {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
    position: relative;
}

.location_dot_container {
    padding: 15px;
    background: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.location_dot_img {
    color: rgb(0, 0, 0);
    width: 17px;
    height: 17px;
}

.search_input {
    border: 1px solid #f2f2f2;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1.4em;
    width: 220px;
    height: 49.5px;
    padding-left: 15px;
}

input::placeholder {
    color: rgb(0, 0, 0);
    font-family: 'Raleway';
}

.search_button {
    background: #0065FC;
    font-family: 'Raleway';
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.4em;
    border: none;
    height: 49.5px;
    width: 130px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    position: absolute;
    left: 265px;
}

/* Éléments cachés en version desktop */

.magnifying-glass_container {
    visibility: hidden;
}

.fa-magnifying-glass {
    visibility: hidden;
}

/* RESPONSIVE MOBILE - HEADER - FORMULAIRE DE RECHERCHE */

@media screen and (max-width: 768px) {
    .form {
        display: flex;
        align-items: center;
        margin-left: 20px;
        position: relative;
    }

    .search_input {
        border: 1px solid #f2f2f2;
        font-family: 'Raleway';
        font-weight: 600;
        width: 220px;
    }

    .search_button {
        visibility: hidden;
    }

/* Changement d'apparence du bouton bleu */

    .magnifying-glass_container {
        visibility: visible;
        background: #0065FC;
        font-family: 'Raleway';
        color: rgb(255, 255, 255);
        font-weight: 600;
        font-size: 1.1em;
        border: none;
        position: absolute;
        left: 255px;
        height: 49.5px;
        width: 49.5px;
        border-radius: 15px;
    }

    .fa-magnifying-glass {
        visibility: visible;
        color: rgb(255, 255, 255);
        font-size: 1.3em;
    }
}

/* DESKTOP - HEADER - FILTRES */

.filters {
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 1.4em;
    font-weight: 600;
    width: 850px;
}

.filters_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}

.price_filter,
.familial_filter,
.romantic_filter,
.pet_filter {
    display: flex;
    justify-content: space-between;
}

.price_icon,
.familial_icon,
.romantic_icon,
.pet_icon {
    padding: 15px;
    height: 45px;
    width: 45px;
    margin-right: 15px;
    background: #DEEBFF;
    border-radius: 50%;
}

.price_text,
.familial_text,
.romantic_text,
.pet_text {
    padding-bottom: 0;
}

.fa-money-bill-wave,
.fa-child-reaching,
.fa-heart,
.fa-dog {
    color: #0065FC;
}

.price_filter,
.familial_filter,
.romantic_filter,
.pet_filter {
    border: 2px solid rgb(217, 217, 217);
    border-left: none;
    border-radius: 30px;
    height: 45px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.price_filter:hover,
.familial_filter:hover,
.romantic_filter:hover,
.pet_filter:hover {
    border: 2px dotted #0065FC;
    color: #0065FC;
    border-left: none;
}

/* RESPONSIVE TABLETTE - HEADER - FILTRES */

@media screen and (max-width: 992px) and (min-width: 769px) {

    .filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-top: 20px;
        font-weight: 600;
        width: 850px;
    }
}

/* RESPONSIVE INTERMÉDIAIRE - HEADER - FILTRES */

@media screen and (max-width: 880px) and (min-width: 769px) {

    .filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        margin-top: 20px;
        font-weight: 600;
        width: 850px;
    }

    .filters_container {
        width: 70%;
        height: 120px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 20px;
    }
    
}


/* RESPONSIVE MOBILE - HEADER - FILTRES */

@media screen and (max-width: 768px) {
    .filters {
        flex-direction: column;
        margin-left: 20px;
        width: 65%;
    }

    .filters_container {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 0;
        width: 330px;
        height: 180px;
    }
}


/* DESKTOP - HEADER - MESSAGE D'INFORMATION */

.info {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 1.3em;
}

.info_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 27px;
    margin-right: 10px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 50%;
}

.fa-info {
    color: #0065FC;
}

/* RESPONSIVE TABLETTE - HEADER - MESSAGE D'INFORMATION */

@media screen and (max-width: 992px) and (min-width: 769px) {

    .info {
        margin-left: 30px;
        flex-wrap: wrap;
    }
}

/* RESPONSIVE MOBILE - HEADER - MESSAGE D'INFORMATION */

@media screen and (max-width: 768px) {

    .info {
        margin-left: 20px;
        flex-wrap: nowrap;
    }
}

/* ----------- CORPS DE LA PAGE ---------- */

/* DESKTOP - SECTION 1 */

.section_1 {
    display: flex;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

.section_1 h2 {
    font-size: 1.8em;
    margin-bottom: 25px;
}


/* DESKTOP - SECTION 1 - HÉBERGEMENTS MARSEILLE */

.hebergements_Marseille {
    background-color: #f2f2f2;
    margin-top: 2.5%;
    padding: 25px 35px;
    border-radius: 15px;
    flex: 2;
}

.liste_hotels {
    display: flex;
    height: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.liste_hotels a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.card_hotel {
    width: 30%;
    height: 42%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 8px rgb(217, 217, 217);
    padding: 4px;
}

.card_hotel:hover {
    box-shadow: 6px 6px 20px rgb(195, 195, 195);
    transition: 0.3s;
}

.imgcard1,
.imgcard2,
.imgcard3,
.imgcard4,
.imgcard5,
.imgcard6 {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.description_hotel {
    margin-left: 5%;
    font-size: 13px;
    line-height: 0.5vh;
}

.fa-star {
    font-size: 0.9vw;
    letter-spacing: 0.1vw;
    color: #0065FC;
}

.grey-star {
    color: rgb(217, 217, 217)
}

.rating {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.more {
    font-size: 18px;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 10%;
}


/* DESKTOP - SECTION 1 - LES PLUS POPULAIRES */

.hebergements_populaires {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-top: 2.5%;
    padding: 2% 2.5%;
    border-radius: 15px;
    flex: 1;
}

.titre_populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
}

.black-star {
    color: black;
    font-size: 22px;
}

.contain_blackstar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.x3cards {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
}

.card_populaire {
    display: flex;
    height: 145px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgb(217, 217, 217);
    padding: 4px;
}

.card_populaire:hover {
    box-shadow: 6px 6px 20px rgb(195, 195, 195);
    transition: 0.3s;
}

.imgcard7,
.imgcard8,
.imgcard9 {
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.description_populaire {
    font-size: 14px;
    margin-left: 25px;
    margin-right: 20px;
}

.price_and_rating {
    height: 54%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
}

.description_populaire h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.description_populaire p {
    margin-top: 0;
}

/* RESPONSIVE INTERMÉDIAIRE - SECTION 1 & SECTION 2 */

@media screen and (max-width: 1204px) and (min-width: 992px) {

    .description_populaire {
        font-size: 1vw;
    }

    .description_hotel {
        font-size: 1vw;
    }
}

/* RESPONSIVE TABLETTE - SECTION 1 */

@media screen and (max-width: 992px) and (min-width: 769px) {

    .section_1 {
        flex-direction: column;
        margin: 0 auto;
        font-size: 1em;
    }

/* RESPONSIVE TABLETTE - SECTION 1 - LES PLUS POPULAIRES */

    .contain_blackstar {
        display: flex;
        align-items: center;
    }

    .hebergements_populaires {
        width: 60%;
        height: 590px;
        order: 1;
        border-radius: 15px;
        background-color: #f2f2f2;
        margin: 0 auto;
        margin-top: 20px;
        padding: 20px;
        flex: none;
        justify-content: space-around;
    }

    .titre_populaires {
        width: 350px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .x3cards {
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .card_populaire {
        width: 350px;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        box-shadow: 4px 4px 8px rgb(217, 217, 217);
        padding: 4px;
    }

    .description_populaire {
        font-size: 14px;
        margin-left: 20px;
        margin-right: 15px;
    }

    .fa-star {
        font-size: 11px;
        letter-spacing: 2px;
    }

    .grey-star {
        color: rgb(217, 217, 217)
    }

    .contain_blackstar .black-star {
        font-size: 20px;
        color: rgb(0, 0, 0);
    }

/* RESPONSIVE TABLETTE - SECTION 1 - HÉBERGEMENTS MARSEILLE */

    .hebergements_Marseille {
        order: 2;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: 79%;
        height: 700px;
        margin: 0 auto;
        margin-top: 20px;
        padding: 20px;
        border-radius: 0;
        flex: none;
    }

    .hebergements_Marseille h2 {
        margin-left: 32%;
    }

    .hebergements_Marseille .rating {
        margin-top: 35px;
    }

    .more {
        margin-top: 0;
    }
}

/* RESPONSIVE TABLETTE INTERMÉDIAIRE - SECTION 1 - HÉBERGEMENTS MARSEILLE */

@media screen and (min-width: 769px) and (max-width: 880px) {
    .hebergements_Marseille h3 {
        font-size: 1.7vw;
    }
}


/* RESPONSIVE MOBILE - SECTION 1 */

@media screen and (max-width: 768px) {

    .section_1 {
        flex-direction: column;
        margin: 0;
        font-size: 1em;
    }

    .section_1 h2 {
        font-size: 22px;
    }


/* RESPONSIVE MOBILE - SECTION 1 - LES PLUS POPULAIRES */


    .contain_blackstar {
        display: flex;
        align-items: center;
    }

    .hebergements_populaires {
        width: 100%;
        height: 590px;
        order: 1;
        border-radius: 0;
        background-color: #f2f2f2;
        margin: 0;
        margin-top: 20px;
        padding-bottom: 40px;
        flex: none;
        justify-content: space-around;
        
    }

    .titre_populaires {
        margin-bottom: 10px;
        margin: 0 auto;
        width: 330px;
    }

    .x3cards {
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .card_populaire {
        width: 330px;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        box-shadow: 4px 4px 8px rgb(217, 217, 217);
        padding: 4px;
        margin: 0 auto;
    }

    .description_populaire {
        font-size: 14px;
        margin-left: 20px;
        margin-right: 15px;
    }

    .fa-star {
        font-size: 11px;
        letter-spacing: 2px;
    }

    .grey-star {
        color: rgb(217, 217, 217)
    }

    .contain_blackstar .black-star {
        font-size: 20px;
        color: rgb(0, 0, 0);
    }

/* RESPONSIVE MOBILE - SECTION 1 - HÉBERGEMENTS MARSEILLE */

    .hebergements_Marseille {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: rgb(255, 255, 255);
        height: 100%;
        margin: 0 auto;
        margin-top: 30px;
        padding: 0;
        border-radius: 0;
    }

    .liste_hotels {
        flex-direction: column;
        height: 1300px;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .card_hotel {
        width: 330px;
        height: 200px;
        margin: 0 auto;
    }

    .description_hotel {
        margin-left: 10px;
        font-size: 13px;
        line-height: 0.5vh;
        margin-bottom: 3%;
        margin-top: 0;
    }

    .fa-star {
        font-size: 11px;
        color: #0065FC;
    }

    .rating {
        width: 18%;
    }

    .grey-star {
        color: rgb(217, 217, 217)
    }

    .card_hotel:hover {
        box-shadow: 4px 4px 8px rgb(217, 217, 217);
    }

    .more {
        font-size: 18px;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 0;
    }
}

/* DESKTOP - SECTION 2 - ACTIVITÉS MARSEILLE */

.section_2 {
    margin: 3% 3.5% 3.5% 3.5%;
}

.section_2 h2 {
    font-size: 1.8em;
}

.section_2 h3 {
    font-size: 16px;
    margin-left: 5%;
}

.cards {
    display: flex;
    height: 430px;
}

.card_simple {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(217, 217, 217);
    flex: 1;
    margin-right: 4%;
}

.card_double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.card_double_middle {
    margin-right: 4%;
}

.mini_card1,
.mini_card4 {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgb(217, 217, 217);
    height: 53%;
}

.mini_card2,
.mini_card3 {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgb(217, 217, 217);
    height: 36%;
}

.link_card {
    width: 100%;
    height: 100%;
}

.card_simple:hover, .mini_card1:hover, .mini_card2:hover, .mini_card3:hover, .mini_card4:hover {
    box-shadow: 6px 6px 20px rgb(195, 195, 195);
    transition: 0.3s;
}

.imgcard10,
.imgcard13 {
    width: 100%;
    height: 87%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.imgcard11,
.imgcard15 {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.imgcard12,
.imgcard14 {
    width: 100%;
    height: 66%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

/* DESKTOP INTERMÉDIAIRE - SECTION 2 - ACTIVITÉS MARSEILLE */

@media screen and (max-width: 1204px) and (min-width: 992px) {

    .section_2 h3{
        font-size: 1.3vw;
    }
}

/* RESPONSIVE TABLETTE - SECTION 2 - ACTIVITÉS MARSEILLE */

@media screen and (max-width: 992px) and (min-width: 769px) {

    .section_2 {
        margin: 0;
        padding: 0;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 30px;
        background-color: #f2f2f2;
        border-radius: 15px;
    }

    .section_2 h2 {
        margin: 25px 0 25px 30%;
    }

    .section_2 h3 {
        font-size: 16px;
        margin-left: 20px;
    }

    .cards {
        flex-direction: column;
        justify-content: space-between;
        height: 1360px;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .card_double {
        justify-content: space-evenly;
    }

    .card_simple,
    .card_double {
        margin-right: 0;
    }

    .card_simple,
    .mini_card1,
    .mini_card2,
    .mini_card3,
    .mini_card4 {
        height: 200px;
        flex: none;
    }

    .imgcard10,
    .imgcard11,
    .imgcard12,
    .imgcard13,
    .imgcard14,
    .imgcard15 {
        height: 70%;
    }
}

@media screen and (min-width: 510px) and (max-width: 768px) {

    .section_2,
    .cards {
        width: 400px;
        margin: 0 auto;
        padding-right: 40px;
    }
}

/* RESPONSIVE MOBILE - SECTION 2 - ACTIVITÉS MARSEILLE */

@media screen and (max-width: 768px) {

    .section_2 {
        margin: 0;
        padding: 20px;
        width: 100%;
    }

    .section_2 h2 {
        font-size: 1.8em;
        margin-bottom: 25px;
    }

    .section_2 h3 {
        font-size: 16px;
        margin-left: 20px;
    }

    .cards {
        flex-direction: column;
        justify-content: space-between;
        height: 1360px;
    }

    .card_double {
        justify-content: space-evenly;
    }

    .card_simple,
    .card_double {
        margin-right: 0;
    }

    .card_simple,
    .mini_card1,
    .mini_card2,
    .mini_card3,
    .mini_card4 {
        height: 200px;
        flex: none;
    }

    .imgcard10,
    .imgcard11,
    .imgcard12,
    .imgcard13,
    .imgcard14,
    .imgcard15 {
        height: 70%;
    }
}

@media screen and (min-width: 510px) and (max-width: 768px) {

    .section_2,
    .cards {
        width: 400px;
        margin: 0 auto;
        padding-right: 40px;
    }
}

/* ---------- FOOTER ---------- */


/* DESKTOP - FOOTER */

footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: start;
    line-height: 1.8em;
    background-color: #f2f2f2;
    padding-top: 25px;
    padding-bottom: 40px;
    margin-top: 15px;
    font-size: 1.3em;
}

footer h2 {
    font-size: 1.1em;
    margin-left: 40px;
}

.a_propos {
    width: 30%;
    margin-left: 20px;
    font-weight: 200;
}

.nos_hebergements,
.assistance {
    width: 30%;
    margin-left: 1%;
    font-weight: 200;
}

footer li {
    list-style-type: none;
}

/* RESPONSIVE TABLETTE - FOOTER */

@media screen and (max-width: 992px) and (min-width: 769px) {

    footer {
        justify-content: space-between;
    }

    .a_propos {
        width: 35%;
    }

    .assistance {
        width: 25%;
    }
    
}


/* RESPONSIVE MOBILE - FOOTER */

@media screen and (max-width: 768px) {

    footer {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding-bottom: 25px;
    }

    .a_propos,
    .nos_hebergements,
    .assistance {
        width: 70%;
        margin-left: 0;
    }
}