* {
    box-sizing: border-box;
}

/* Éléments principaux de la page */

html {
    width: 100%;
}

#bloc_page {
    display: flex;
    flex-direction: column;
}

body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: normal;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* Mise en forme du header */

.navbar {
    height: 90px; /* permet de fixer la bordure supérieure des liens du menu tout à fait en haut de la page*/
    margin: 0 50px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
}

/* Mise en place du logo Booki */

.navbar_logo {
    width: 75px;
    padding-left: 10px;
}

/* Mise en place du menu de navigation */

.navbar ul {
    display: flex;
    padding-left: 0;
}

.navbar li {
    list-style-type: none;
}

.nav_link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 29px;
}

.nav_link:hover {
    color: #0065FC;
    border-top: solid 2px #0065FC;
    padding-top: 34px;
    margin-top: 0;
}

@media screen and (max-width: 768px) {

    .navbar {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 0 30px 0;
    }

    .navbar_logo {
        padding-left: 0px;
    }

    /* Mise en place du menu de navigation */

    .navbar_nav {
        display: flex;
        width: 100%; 
        margin-top: 30px;
    }

    .navbar nav ul {
        /*display: flex;
        justify-content: center;*/
        flex: 1;
        margin: 0;
    }

    .navbar li {
        width: 50%;
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        border-bottom: solid 3px #f2f2f2;
    }

    .navbar li:hover {
        border-bottom: solid 3px #0065FC;
    }

    .nav_link {
        padding: 0;
    }

    .nav_link:hover {
        border-top: none;
        padding: 0;
    }
}


/* Mise en place du slogan */

.slogan-search {
    width: 100%;
}

.slogan {
    font-size: 1.2em;
    margin-left: 50px;
}

.subtitle {
    font-size: 1em;
    margin-left: 50px;
    line-height: 0.4;
}

/* Mise en place du formulaire de recherche */

.form_location {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
}

.location_dot {
    padding: 15px;
    background: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search_input {
    border: 1px solid #f2f2f2;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1em;
    width: 220px;
    height: 48.5px;
    padding-left: 15px;
}

input::placeholder {
    color: rgb(0, 0, 0);
    font-family: 'Raleway';
}

.research_button {
    background: #0065FC;
    font-family: 'Raleway';
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.1em;
    box-shadow: none;
    border: none;
    height: 48.5px;
    width: 130px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Mise en place des filtres */

.filters {
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 1em;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    width: 850px;
}

.price_filter,
.familial_filter,
.romantic_filter,
.pet_filter {
    display: flex;
    justify-content: space-between;
}

.price_icon,
.familial_icon,
.romantic_icon,
.pet_icon {
    padding: 15px;
    height: 45px;
    width: 45px;
    margin-right: 15px;
    background: #DEEBFF;
    border-radius: 50%;
}

.price_text,
.familial_text,
.romantic_text,
.pet_text {
    padding-bottom: 10px 0;
}

.fa-money-bill-wave,
.fa-child-reaching,
.fa-heart,
.fa-dog {
    color: #0065FC;
}

.price_filter,
.familial_filter,
.romantic_filter,
.pet_filter {
    border: 2px solid rgb(217, 217, 217);
    border-left: none;
    border-radius: 30px;
    height: 45px;
    padding-right: 15px;
    display: flex;
    align-items: center;
}

.price_filter:hover,
.familial_filter:hover,
.romantic_filter:hover,
.pet_filter:hover {
    border: 2px dotted #0065FC;
    color: #0065FC;
    border-left: none;
}

/* Mise en place du message d'information */

.info {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 20px;
}

.info_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
    width: 27px;
    margin-right: 10px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 50%;
}

.fa-info {
    color: #0065FC;
}


/*Mise en place de la section 1*/

.section_1 {
    display: flex;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

.section_1 h2 {
    font-size: 1.4vw;
    margin-bottom: 4%;
}


/* Mise en place des cards hébergements de la section 1 */

.hebergements_Marseille {
    background-color: #f2f2f2;
    margin-top: 2.5%;
    padding: 25px 35px;
    border-radius: 15px;
    flex: 2;
}

.liste_hotels {
    display: flex;
    height: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.liste_hotels a {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.card_hotel {
    width: 30%;
    height: 42%;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 8px rgb(217, 217, 217);
    padding: 4px;
}

.card_hotel:hover {
    box-shadow: 4px 4px 8px #0065FC;
}

.imgcard1,
.imgcard2,
.imgcard3,
.imgcard4,
.imgcard5,
.imgcard6 {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.description_hotel {
    margin-left: 5%;
    font-size: 0.9vw;
    line-height: 0.5vh;
    margin-bottom: 3%;
    margin-top: 0;
}

.fa-star {
    font-size: 0.9vw;
    letter-spacing: 0.1vw;
    color: #0065FC;
}

.grey-star {
    color: rgb(217, 217, 217)
}

.rating {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.more {
    font-size: 1.3vw;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 10%;
}


/*Les plus populaires (partie de droite de la section 1) */

.hebergements_populaires {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-top: 2.5%;
    padding: 2% 2.5%;
    border-radius: 15px;
    flex: 1;
}

.titre_populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
}

.black-star {
    color: black;
    font-size: 1.3vw;
}

.contain_blackstar {
    display: flex;
    align-items: center;
}

.x3cards {
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
}

.card_populaire {
    display: flex;
    height: 145px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgb(217, 217, 217);
    padding: 4px;
}

.imgcard7,
.imgcard8,
.imgcard9 {
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.description_populaire {
    font-size: 1vw;
    margin-left: 6%;
    margin-right: 4%;
}

.price_and_rating {
    height: 54%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description_populaire h3 {
    margin-top: 10px;
    margin-bottom: 3%;
    width: 100%;
}

.description_populaire p {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 10%;
}


/* Mise en place de la section 2 */

.section_2 {
    margin: 3% 3.5% 3.5% 3.5%;
}

.section_2 h3 {
    font-size: 1.1vw;
    margin-left: 5%;
}

.cards {
    display: flex;
    height: 430px;
}

.card_simple {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(217, 217, 217);
    flex: 1;
    margin-right: 4%;
}

.card_double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.card_double_middle {
    margin-right: 4%;
}

.mini_card1,
.mini_card4 {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgb(217, 217, 217);
    height: 53%;
}

.mini_card2,
.mini_card3 {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 5px 5px 8px rgb(217, 217, 217);
    height: 36%;
}

.link_card {
    width: 100%;
    height: 100%;
}

.imgcard10,
.imgcard13 {
    width: 100%;
    height: 87%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.imgcard11,
.imgcard15 {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.imgcard12,
.imgcard14 {
    width: 100%;
    height: 66%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}


/* Mise en place du footer */

footer {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    line-height: 1.8em;
    background-color: #f2f2f2;
    padding-top: 25px;
    padding-bottom: 40px;
    margin-top: 15px;
}

footer h2 {
    font-size: 1.1em;
    margin-left: 40px;
}

.a_propos {
    margin-left: 20px;
    font-weight: 200;
}

.nos_hebergements,
.assistance {
    margin-left: 230px;
    font-weight: 200;
}

footer li {
    list-style-type: none;
}